/*Master Styles*/
body {
margin:0px;
padding:0px;
}

.container {
display:grid;
grid-template-columns: 1fr;
margin:0px;
padding:0px;

}

.main-content{
    background-color: var(--navy);
}

/* custom properties */

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy:#112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-inter: 'Inter', sans-serif;
    --font-fira: 'Fira Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height:100px;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

/*Nav Style*/

.nav-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--nav-height);
    background-color: rgba(10, 25, 47, 0.85);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}
.nav-wrapper{
width:100%;
display:flex;
justify-content:space-between;
align-items: center;
color: var(--lightest-slate);
overflow: hidden;
position: relative;
width:100%;
z-index: 12;
font-family: var(--font-fira);


}

.nav-wrapper .brand {
font-family: var(--font-inter);
color: var(--green);
}

.left-side ul{
display:flex;
-moz-box-pack: justify;
justify-content:space-between;
align-items: center;
padding: 0px;
margin: 0px;
list-style: none;
}

.right-side {
    margin-right:30px;
    padding-right: 40px;
}

.nav-wrapper> .left-side > div {
margin-right: 20px;
}

.nav-link-wrapper {
height: 9px;

}

.left-side a .number {
color: var(--green);
margin-right: 5px;
font-size: var(--fz-xxs);
text-align: right;

}

.left-side a .resume {
    padding: 0.55rem 0.9rem;
    border-radius: var(--border-radius);
    border:var(--green) solid 1px;
    color:var(--green);
    background-color: transparent;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xxs);
}

.left-side a .resume:hover {
    background-color: var(--lightest-navy);
}

.left-side a {
    padding:10px;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    color: inherit;
    font-size: var(--fz-xxs);
    font-family: var(--font-fira);
    transition: var(--transition);
}


.left-side a:hover {
color: var(--green);
}

/*page layout*/
.main-content {
    display: flex;
    flex-direction: column;
}
.center {
    z-index: 1;
    padding: 0px 150px;
    margin: 0px 154px;
}

.left {
width: 40px;
position:fixed;
bottom:0px;
left:40px;
right:auto;
z-index: 10;
display: block;

}

.left li {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 20px;

}
.left ul {
    margin:0px;
    padding:0px;
    align-items: center;

}


.left li a {
    padding: 10px;
    position: relative;
    font-size: var(--fz-xxl);
    font-family: var(--font-inter);
    line-height: 1.3;
    color: var(--light-slate);
    width: 30px;
    height: 20px;
    fill: none;
    max-width: 100%;
    cursor: pointer;
    transition: var(--transition);
}

.left li a:hover{
    color: var(--green);
    top: -2px;
    
}

.left .social-list-items::after {
content: "";
display: block;
width: 1px;
height: 90px;
margin: 0px auto;
margin-top:10px;
background-color: var(--light-slate);
list-style: none;
}

.right {
  width: 60px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 30px;
  z-index: 10;
}

.right .email-address::after{
content: "";
display: block;
width: 1px;
height: 90px;
margin: 0px auto;
background-color: var(--light-slate);
list-style: none;
}

.right ul {
    margin:0px;
    padding:22.5px;
    padding-bottom: 10px;
    align-items: center;
}

.right ul li {
    list-style-type: none;
    writing-mode: vertical-rl;
    align-items: center;
    padding: 0px;
    margin: 0px;
    
}

.right ul li a {
    text-decoration: none;
    color: var(--light-slate);
    margin: 20px auto;
    font-family: var(--font-fira);
    font-size:var(--fz-xxs);
    transition: var(--transition);
    position: relative;
}


.right ul li a:hover{
    color:var(--green);
    top: -2px;
}

/* Introduction*/
.intro-header {
    margin: 0px 0px 30px 4px;
    color: var(--green);
    font-family: var(--font-fira);
    font-size: var(--fz-xxs);
    font-weight: 400;
}

.Intro-name {
    margin: 0px;
    font-size: clamp(30px, 8vw, 50px);
    font-weight: 600;
    color: var(--lightest-slate);
    font-family: var(--font-inter);
    line-height: 1.1;
}

.Intro-heading {
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
    font-size: clamp(30px, 8vw, 50px);
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0px;
    font-family: var(--font-inter);
}

.introduction-item-word p {
    margin:20px 0px 0px;
    max-width: 540px;
    color: var(--slate);
    font-family: var(--font-inter);
    font-size:var(--fz-xs);
    line-height: 1.3;
    
}

.main-content .center {
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin-top: 180px;
}

/* Portfolio styles */

.portfolio-items-wrapper {

display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;

}

.portfolio-img-background {
height: 350px;
width: 100%;
background-size: cover;
background-position: centre;
background-repeat: no-repeat;
}

.img-text-wrapper {
position: absolute;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
padding-left: 100px;
padding-right: 100px;
}

.logo-wrapper img {
width: 50%;
margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
transition: 1s;
font-weight: 600;
color: transparent;
}
 
.img-text-wrapper:hover .subtitle {
font-weight: 600;
color: lightseagreen;
}


.img-darken {
transition: 1s;
filter: brightness(10%);
}