/*Master Styles*/
body {
margin:0;
}

.container {
display:grid;
grid-template-columns: 1fr;

}

/* custom properties */

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy:#112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-inter: 'Inter', sans-serif;
    --font-fira: 'Fira Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
}

/*Nav Style*/

.nav-wrapper {
display:flex;
justify-content:space-between;
padding:35px;
background-color: var(--navy);
color: white;
margin: 0;
overflow:hidden;
position: fixed;
top:0;
width:100%;

}

.nav-wrapper .brand {
font-family: var(--font-inter);
color: var(--green);
}

.left-side {
display:flex;
}

.right-side {
    margin-right:30px;
    padding-right: 40px;
}

.nav-wrapper> .left-side > div {
margin-right: 20px;
}

.nav-link-wrapper {
height: 9px;

}

.nav-link-wrapper a .number {
color: var(--green);
}

.nav-link-wrapper a .resume {
    padding: 0.55rem 0.9rem;
    border-radius: var(--border-radius);
    border:var(--green) solid 1px;
    transition:  0.5s;
    color:var(--green);
    background-color: transparent;
}

.nav-link-wrapper a .resume:hover {
    background-color: var(--lightest-navy);
}

.nav-link-wrapper a {
color: var(--lightest-slate);
text-decoration: none;
border-bottom: none;
transition: color 0.5s;
padding: 10px;
font-family: var(--font-fira);
font-size: var(--fz-xxs);
}


.nav-link-wrapper a:hover {
color: var(--green);
}

/*page layout*/
.main-content {
    display: flex;
}
.center {
    margin-top: 90px;
}
.left {
    margin-top: 300px;
}

.right{
    margin-top: 300px;
}


/* Introduction*/

.Introduction-items-wrapper {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 1px;
    padding-right: 20px;
    padding-left: 110px;
    background-color: var(--navy);
    justify-content: center;
    align-items: flex-start;
    
}

.intro-header {
    color:var(--green);
    font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
    font-family: var(--font-fira);
    font-weight: lighter;
    margin:0px 0px 30px 4px;
    line-height: 1.1;
    
}




/* Portfolio styles */

.portfolio-items-wrapper {

display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
position: relative;

}

.portfolio-img-background {
height: 350px;
width: 100%;
background-size: cover;
background-position: centre;
background-repeat: no-repeat;
}

.img-text-wrapper {
position: absolute;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
padding-left: 100px;
padding-right: 100px;
}

.logo-wrapper img {
width: 50%;
margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
transition: 1s;
font-weight: 600;
color: transparent;
}
 
.img-text-wrapper:hover .subtitle {
font-weight: 600;
color: lightseagreen;
}


.img-darken {
transition: 1s;
filter: brightness(10%);
}