:root{
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

body{
    margin: 0;
    padding:0;
    background-color: var(--navy);
    
}

*{
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
section{
    padding: 2rem 11%;
}


/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Roboto Mono', monospace;*/

/*--Navbar--*/

.nav-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 4%;
    top:0;
    left:0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background-color: var(--navy);
}

.logo{
    color: var(--green);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    border: 0.2rem solid var(--green);
    padding:0.5rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2.3rem;
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2.3rem;
}
.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color: var(--lightest-slate);
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Fira Code', monospace;
}
.nav-menu ul li a:hover{
    color: var(--green);
}
.nav-menu ul li span{
    color: var(--green);
}

.nav-menu .resume{
    background: none;
    color: var(--green);
    border:0.1rem solid var(--green);
    padding: 1rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;

}

.hamburger {
    position:absolute;
    width: 30px;
    cursor:pointer;
    appearance: none;
    background: none; 
    outline: none;
    border: none;
    right: 30px;
    top: 25px;
    display:block;
    padding:0;
    margin: 0;
    

}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: "";
    display:none;
    height: 2px;
    background-color: var(--green);
    margin: 6px 0px;
    transition: 0.4s;
    padding: 0;
    width: 100%;
}

/*--main style--*/

/* main{
    display:flex;
    justify-content: center;
} */

/* .left-container {
    position: fixed;
    left: 0px;
    float: left;

    width: 10%;
    height: 100%;
    text-align: justify;
    
    display: flex;
    align-items: flex-end;
}

.right-container {
    position: fixed;
    right: 0px;
    float: right;
    width: 10%;
    height: 100%;
    text-align: justify;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.mid-container {
    position: absolute;
    text-align: justify;
     border: 1px solid rgba(204, 204, 204, 0.32); 
    left:10%;
    right:10%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.home h1{
    color: var(--green);
    font-family: 'Fira Code', monospace;
    font-size: 1.4rem;
    font-weight: 400;
    
}
.home h2{
    font-size: 6.0rem;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--lightest-slate);
}
.home h3{
    font-size: 6rem;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--slate);
    line-height: 6.5rem;
    margin:1rem 0rem;
}
.home p{
    font-size: 1.5rem;
    max-width: 48.8rem;
    font-family: 'Inter', sans-serif;
    color: var(--slate);
    margin: 3rem 0rem;
    line-height: 2.2rem;
    
}
.home p span{
    color: var(--green);
    cursor: pointer;
}

.home p span:hover{
    text-decoration: underline;
}
.btn{
    background: none;
    color: var(--green);
    border:0.1rem solid var(--green);
    padding: 1.6rem 2.8rem;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin: 1rem 0rem;
}

.left-container ul{
    display: flex;
    flex-direction: column;
    gap:3.2rem;
    margin: 0;
    align-items: center;
    height: 100vh;
    justify-content: end;
}

.left-container ul li{
    font-size: 2rem;
    color: var(--slate);
    
}

.left-container ul li:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.left-container ul:after{
    content: "";
    width:0.1rem;
    height: 9rem;
    position: relative;
    background-color: var(--slate);
    margin-bottom: 0;
}

.right-container{
    display: flex;
    gap:3.2rem;
    margin: 0;
    align-items: center;
    justify-content:end;
    flex-direction: column;
    padding: 0;
}

.right-container a{
    writing-mode: vertical-rl;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--slate);
    font-family: 'Fira Code', monospace;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding: 0;
}
.right-container .email:after{
    content: "";
     width:0.1rem;
    height: 9rem;
    position: relative;
    background-color: var(--slate);
    margin-bottom: 0;
}

/* About section */


.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}



.about h1{
    color: var(--lightest-slate);
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    position: relative;

}
.about h1:after{
    content: "";
    position: absolute;
    width: 35rem;
    height: 0.05rem;
    background-color: var(--lightest-slate);
    top: 50%;
    left: 16rem;
    
}
.about h1 span{
    color: var(--green);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
}

.about .row .image{
    flex-basis:300px;
    position: relative;
}

.about .row .image img{
    max-width: 100%;
    border-radius: 5px;
    

}

.green{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(100, 255, 218, 0.5);
    position: absolute;
    top:0;
    display: block;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.about .row .image:hover .green{
    display:none;
}


.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content p{
    font-size: 1.7rem;  
    font-family: 'Inter', sans-serif;
    color: var(--slate);
    line-height: 2.5rem;
    margin: 0;
    text-align: justify;
    word-spacing: -2px;
}

.about .row .content p a{
    color: var(--green);
    text-decoration: none;
}

.about .row .content p a:hover{
    text-decoration: underline;
}

.about .row .content ul{
    margin: 0;
    padding: 0;
}

.about .row .content ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.about .row .content ul li{
    display: block;
    font-family: 'Roboto Mono', monospace;
    color: var(--slate);
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.about .row .content ul li i{
    color: var(--green);
    font-size: 1rem;
}

/* Work Section */


.work h1{
   color: var(--lightest-slate);
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    position: relative;
}

.work h1 span{
    color: var(--green);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
}

.work h1:after{
    content: "";
    position: absolute;
    width: 35rem;
    height: 0.05rem;
    background-color: var(--lightest-slate);
    top: 50%;
    left: 29rem;
}
.project{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.work .project .image{
   flex:1 1 30rem;
   

}

.work .project .image img{
    width: 100%;
}

.work .project .content{
    flex: 1 1 30rem;
}

.work .project .content{
    text-align: right;
}

.work .project .content h2{
    color: var(--green);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    padding: 0;
    margin: 0.5rem;
}
.work .project .content h3{
    color: var(--lightest-slate);
    font-family: 'Inter', sans-serif;
    font-size: 2.3rem;
    position: relative;
    margin: 0;
    padding: 0;
}

.work .project .content p{
    font-size: 1.5rem;  
    font-family: 'Inter', sans-serif;
    color: var(--slate);
    line-height: 2.5rem;
    margin: 0;
    word-spacing: -2px;
    background-color:#081d3b;
    padding: 2rem;
    margin-top: 2.5rem;
    border-radius: 5px;
}
.work .project .content .stack ul{
    display: flex;
    justify-content: right;
    list-style: none;
    gap:1rem;
    
}
.work .project .content .stack ul li{
    color: var(--slate);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    font-weight: 600;
}
.work .project .content .links{
    display: flex;
    gap: 2rem;
    justify-content: right;
}

.work .project .content .links a{
    text-decoration: none;
    color: var(--slate);
    font-size: 1.7rem;
    
}

.project .image{
    position: relative;
}

.project .image:hover .green{
    display:none;
}
















/*media queries*/

@media (max-width:991px) {
    html{
        font-size:55%; 
    }

}


@media (max-width:768px) {
    section{
        padding: 2rem 5%;
    }
   
    .home h1{
        font-size: 1.6rem;
    }
    .home h2, .home h3{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .home p{
        font-size: 1.6rem;
        font-weight: 500;
    }
   
    .hamburger{
        display: block;
    }

    .hamburger .bar, .hamburger:after, .hamburger:before{
        display: block;
        transition: 0.4s;
    }

    .hamburger.active:after{
        transform: rotate(45deg) translate(-6px, -6px);
    }
    .hamburger.active:before{
        transform: rotate(-45deg) translate(-6px, 6px);;
    }
    .hamburger.active .bar{
        opacity: 0;
    }

    .nav-menu{
       display: flex;
       position: absolute;
       right: -100%;
       background-color:#081d3b;
       width:100%;
       top:0%;
       bottom:0%;
       height: 100vh;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       transition: 0.3s;
       
    }

    .nav-menu.active{
        right:0;
    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 10rem;
        gap:3.5rem;
        
    }
    .nav-menu ul li a{
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:0.8rem
    }
    .nav-menu ul li a span{
        display: block;
        text-align: center;
        font-size: 1.2rem;

    }
    .nav-menu .resume{
        padding:1.5rem 4rem;
        margin-top: 3rem;
    }

    .right-container{
        display: none;
    }
    .left-container{
        display: none;
    }

    .about h1:after{
        width: 20rem;
    }
    .about .row .image{
        display: flex;
        justify-content: center;
    }

   
    
}

/* @media (max-width:450px){
    html{
        font-size:50%; 
    }
    
} */